/**
 *
 *
 *
 *
 * UI.css
 *
 *
 * CSS version of senalUI
 *
 *
 *
 *
 */

.global-disable-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.senal-ui-banner-layout-qa20-td {}


/**************************************************************************************************
 *                                      FOIL-Home-UI Stack
 ***************************************************************************************************/

.foil-home-layout-q0 {}

.foil-home-layout-q0-background {}

.foil-home-layout-q0-text-color {}

.foil-home-layout-q0-font-style {}

.foil-home-layout-q0-font-align-left {}

.foil-home-layout-q0-font-align-right {}

.foil-home-layout-q0-font-align-center {}






/**************************************************************************************************
 *                                      Electric-E UI Stack
 ***************************************************************************************************/







/**************************************************************************************************
 *                                      Smith-Pad UI Stack
 ***************************************************************************************************/