/**
 *
 *
 *
 *
 * UI.css
 *
 *
 * CSS version of senalUI
 *
 *
 *
 *
 */

.global--disable-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
}


/**************************************************************************************************
 *                                      FOIL-Home-UI Stack
 ***************************************************************************************************/










 /**************************************************************************************************
 *                                      Electric-E UI Stack
 ***************************************************************************************************/









 /**************************************************************************************************
 *                                      Smith-Pad UI Stack
 ***************************************************************************************************/