/**
 *
 *
 *
 *
 * UI.css
 *
 *
 * CSS version of senalUI
 *
 *
 *
 *
 */

.global-disable-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.senal-ui-banner-layout-qa20-td {}